.header {
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: .5rem;
    box-shadow: 0 5px 10px 0 #b3bbc673;

    .logo {
      margin-left: 1rem;

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }

    .currency {
      display: flex;
      gap: 2rem;

      .box {
        display: flex;
        align-items: center;
        padding: 2px;
        margin-right: 2rem;

        .cur {
          // color: green;
        }
      }
    }
  }
}
