<main class="main">
  <div class="container">
    <div class="content">
      <div class="box">

        <mat-form-field class="options">
          <mat-label>Currency 1</mat-label>
          <mat-select [formControl]="currencyFrom">
            <mat-select-trigger>
              <img [appFlag]="currencyFrom.value.currency" alt="Изображение" class="flag" />
              {{ currencyFrom.value.currency }}
            </mat-select-trigger>
            <mat-option *ngFor="let item of currencyList"
                        [value]="item"
            >
              <img [appFlag]="item.currency" alt="Изображение" class="flag" />
              {{item.currency}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field"  >
          <mat-label>Value ...</mat-label>
          <input matInput type="number" [formControl]="amountFrom" >

        </mat-form-field>
      </div>

      <div class="arrows">
        <button mat-icon-button (click)="compare()">
          <mat-icon>compare_arrows</mat-icon>
        </button>
      </div>

      <div class="box">
        <mat-form-field class="options">
          <mat-label>Currency 2</mat-label>
          <mat-select [formControl]="currencyTo">
            <mat-select-trigger>
              <img [appFlag]="currencyTo.value.currency" alt="Изображение" class="flag" />
              {{ currencyTo.value.currency }}
            </mat-select-trigger>
            <mat-option *ngFor="let item of  currencyList" [value]="item">
              <img [appFlag]="item.currency" alt="Изображение" class="flag" />
              {{item.currency}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Value...</mat-label>
          <input matInput type="number" [formControl]="amountTo" [value]="amountTo.value "  >
        </mat-form-field>


      </div>
    </div>
  </div>
</main>
